.job {
    font-weight: bold;
}
nav ul li {
    list-style-type: none;
}
ul {
    
    padding: 0;
    text-align: center;
}
ul li {
    margin-right: 10px;
}
header {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h1 {
    text-align: center;
}
.img {
    text-align: center;
}
main {
    padding-left: 15px;
    padding-right: 15px;
}
.education, .workHistory { 
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.education {
    margin-top: 40px;
}